html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }
a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: .67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; text-transform: none; }

select { text-transform: none; }

button, html input[type="button"] { -webkit-appearance: button; cursor: pointer; }

input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }
input::-moz-focus-inner { border: 0; padding: 0; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

html { font-size: 62.5%; }

body { font-size: 1.5em; line-height: 1.8; font-weight: 400; font-family: "Roboto", sans-serif; color: #666; }

.button { font-family: "Suez One", serif; font-size: 1.6rem; padding: 18px 30px; border: 0; margin-right: 10px; border-radius: 8px; font-weight: bold; display: inline-block; white-space: nowrap; box-sizing: border-box; line-height: 1; text-decoration: none; color: #A61717; background: none; box-shadow: 0 0 0 2px #A61717 inset; position: relative; -webkit-transition: 0.2s; -moz-transition: 0.2s; -ms-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.button:hover { box-shadow: 0 0 0 2px #791111 inset; color: #791111; outline: 0; }
.button:hover [class^="icon-"], .button:hover [class*=" icon-"] { color: #791111; }

.button.button-primary { color: #fff; background-color: #A61717; }
.button.button-primary:hover, .button.button-primary:focus { background-color: #791111; }

.bounds { max-width: 1080px; margin: 0 auto; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 2rem; font-weight: bold; font-family: "Suez One", serif; color: #222; }

h1 { font-size: 3.8rem; }

h2 { font-size: 2.4rem; }

h3 { font-size: 1.8rem; }

h4 { font-size: 1.6rem; }

h5 { font-size: 1.4rem; }

h6 { font-size: 1.4rem; font-weight: normal; color: #999; }

@media (min-width: 550px) { h1 { font-size: 3.8rem; }
  h2 { font-size: 2.4rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.4rem; } }
p { margin-top: 0; font-size: 1.6rem; }

em { color: #222; font-weight: bold; font-style: normal; }

a { color: #A61717; -webkit-transition: color .2s; -moz-transition: color .2s; -ms-transition: color .2s; -o-transition: color .2s; transition: color .2s; }
a:hover { color: #791111; }

* { box-sizing: border-box; }

html, body { height: 100%; }

body { background-color: #730303; overflow: hidden; position: relative; }

h1, h2, h3, h4, h5, h6 { color: #D92323; font-family: "Suez One", serif; line-height: 1; }

.index .logo { font-size: 7rem; }

.title { background-color: #410202; padding: 10px 0 5px 0; position: relative; text-align: center; z-index: 3; }
.title .logo a { color: #ECBC28; font-size: 2.5rem; text-decoration: none; }

.bounds { text-align: center; position: absolute; left: 50%; }
@media(max-width: 640px) { .bounds { top: 350px; }
  .index .bounds { top: 30px; left: 0; padding: 0 15px; } }
@media(min-width: 641px) { .bounds { top: 50%; -moz-transform: translate(-50%, -60%); -o-transform: translate(-50%, -60%); -ms-transform: translate(-50%, -60%); -webkit-transform: translate(-50%, -60%); transform: translate(-50%, -60%); } }
.card { background-color: #eee; border-radius: 8px; box-shadow: 0 0 0 12px #eee inset, 0 0 0 16px #ECBC28 inset, 0 4px 6px 0 #5a0202; color: #222; cursor: pointer; display: block; padding: 60px; text-align: center; text-decoration: none; -webkit-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out, transform 100ms ease-in-out; -moz-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out, transform 100ms ease-in-out; -ms-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out, transform 100ms ease-in-out; -o-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out, transform 100ms ease-in-out; transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out, transform 100ms ease-in-out; }
.card:hover { background-color: #f5f5f5; box-shadow: 0 0 0 12px #f5f5f5 inset, 0 0 0 18px #ECBC28 inset, 0 4px 6px 0 #5a0202; color: #222; }
.card:hover .button { background-color: #791111; box-shadow: 0 0 0 2px #791111 inset; }
.card-container { perspective: 1000px; }
.card-container.flip .card-flipper { -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
.card-flipper { -webkit-transition: 0.4s; -moz-transition: 0.4s; -ms-transition: 0.4s; -o-transition: 0.4s; transition: 0.4s; transform-style: preserve-3d; position: relative; }
.card-back, .card-front { backface-visibility: hidden; position: absolute; }
@media(max-width: 640px) { .card-back, .card-front { top: -250px; left: -150px; } }
@media(min-width: 641px) { .card-back, .card-front { top: -250px; left: -250px; } }
.card-front { z-index: 2; /* for firefox 31 */ -moz-transform: rotateY(0deg); -o-transform: rotateY(0deg); -ms-transform: rotateY(0deg); -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
.card-back { -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
@media(max-width: 640px) { .card-flash, .card-container { width: 300px; height: 250px; } }
@media(min-width: 641px) { .card-flash, .card-container { width: 500px; height: 300px; } }
.card-word, .card-definition { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.card-next { color: #a2a2a2; font-size: 2rem; font-family: "Suez One", serif; text-transform: uppercase; position: absolute; bottom: 0; left: 50%; }
@media(max-width: 640px) { .card-next { padding-top: 30px; -moz-transform: translate(-50%, 70%); -o-transform: translate(-50%, 70%); -ms-transform: translate(-50%, 70%); -webkit-transform: translate(-50%, 70%); transform: translate(-50%, 70%); } }
@media(min-width: 641px) { .card-next { padding-top: 50px; -moz-transform: translate(-50%, 60%); -o-transform: translate(-50%, 60%); -ms-transform: translate(-50%, 60%); -webkit-transform: translate(-50%, 60%); transform: translate(-50%, 60%); } }
.card-next:hover { color: #a2a2a2; }
@media(max-width: 640px) { .card-next:hover { -moz-transform: translate(-50%, 66%); -o-transform: translate(-50%, 66%); -ms-transform: translate(-50%, 66%); -webkit-transform: translate(-50%, 66%); transform: translate(-50%, 66%); } }
@media(min-width: 641px) { .card-next:hover { -moz-transform: translate(-50%, 56%); -o-transform: translate(-50%, 56%); -ms-transform: translate(-50%, 56%); -webkit-transform: translate(-50%, 56%); transform: translate(-50%, 56%); } }
.card-viewed { color: #a2a2a2; font-size: 14px; text-align: center; position: absolute; top: 50%; left: 50%; }
@media(max-width: 640px) { .card-viewed { -moz-transform: translate(-50%, 320%); -o-transform: translate(-50%, 320%); -ms-transform: translate(-50%, 320%); -webkit-transform: translate(-50%, 320%); transform: translate(-50%, 320%); } }
@media(min-width: 641px) { .card-viewed { -moz-transform: translate(-50%, 420%); -o-transform: translate(-50%, 420%); -ms-transform: translate(-50%, 420%); -webkit-transform: translate(-50%, 420%); transform: translate(-50%, 420%); } }
.button { border-radius: 100px; letter-spacing: 0.1em; margin-top: 20px; text-transform: uppercase; }
