<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Flashy | Admin</title>
</head>
<body>
    <ul>
        <li th:each="card : ${cards}">
          <form th:action="@{|admin/update/${card.id}|}" method="post">
            <input type="text" name="term" th:value="${card.term}" />
            <input type="text" name="definition" th:value="${card.definition}"/>
            <button type="submit">Update</button>
          </form>
        </li>
    </ul>
</body>
</html>