<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Flashy</title>
    <meta name="description" content="A Flash Card game about Java terms" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Suez+One" rel="stylesheet" />
    <link rel="stylesheet" href="/css/global.css" />
</head>
<body class="index">
<div class="bounds">
    <a href="/flashcard/next" class="card">
        <h1 class="logo">Flashy</h1>
        <p id="call-to-action" th:text="${cta}" />
        <div class="button button-primary">Get Started!</div>
    </a>
</div>
</body>
</html>
